Source: kamiwaza
Section: utils
Priority: optional
Maintainer: Kamiwaza Team <support@kamiwaza.ai>
Build-Depends: debhelper (>= 13)
Standards-Version: 4.6.0
Homepage: https://kamiwaza.ai

Package: kamiwaza
Architecture: amd64
Depends: ${misc:Depends},
         python3.10,
         python3.10-dev,
         libpython3.10-dev,
         python3.10-venv,
         golang-cfssl,
         python-is-python3,
         etcd-client,
         net-tools,
         jq,
         apt-transport-https,
         ca-certificates,
         curl,
         software-properties-common,
         libcairo2-dev,
         libgirepository1.0-dev
Recommends: docker.io,
           nvidia-driver-550-server,
           nvidia-container-toolkit,
           nvidia-docker2
Description: Kamiwaza AI Platform
 Kamiwaza is an AI platform that provides various AI services and tools.
 This package includes all necessary dependencies and installation scripts. 