Source: kamiwaza
Section: utils
Priority: optional
Maintainer: Drew Piispanen <drew@kamiwaza.ai>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://kamiwaza.ai

Package: kamiwaza
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
    python3.10,
    python3.10-venv,
    python3.10-dev,
    libpython3.10-dev,
    golang-cfssl,
    python-is-python3,
    etcd-client,
    net-tools,
    build-essential,
    g++,
    jq,
    libjq1,
    pkg-config,
    libcairo2-dev,
    libcairo-script-interpreter2,
    libfontconfig1-dev,
    libfreetype6-dev,
    libx11-dev,
    libxrender-dev,
    libxext-dev,
    libpng-dev,
    libsm-dev,
    libpixman-1-dev,
    libxcb1-dev,
    libxcb-render0-dev,
    libxcb-shm0-dev,
    libglib2.0-dev,
    python3-dev,
    libgirepository1.0-dev,
    libffi-dev,
    python3-gi,
    gir1.2-gtk-3.0,
    libgirepository-1.0-1,
    gobject-introspection,
    python3-mako,
    python3-markdown,
    software-properties-common,
Suggests: nvidia-driver-550-server,
 nvidia-container-toolkit,
 nvidia-docker2
Description: Kamiwaza Installation Package
 This package installs and configures Kamiwaza and all its dependencies.
 It includes:
  * Kamiwaza Deploy repository
  * Kamiwaza Core repository
  * CockroachDB
  * Node.js
  * Python dependencies
  * CUDA support libraries 